name: Update Xiaomi Price

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install Requests
        run: pip install requests

      - name: Run script
        env:
          ALLTICK_TOKEN: ${{ secrets.ALLTICK_TOKEN }}
        run: python update_xiaomi.py

      - name: Commit & Push
        run: |
          if [[ -n "$(git status --porcelain xiaomi.json)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add xiaomi.json
            git commit -m "Update Xiaomi JSON"
            git push
          else
            echo "No changes"
          fi
